html {
    display: flex;
    justify-content: center;

}

body {
    width: 100%;
    height: 100%;
    max-width: 1250px;
    min-width:1000px ;
    display:flex; 
    flex-direction:column; 
    justify-content:flex-start;
    align-items: center;
    min-height:1175px;
    background-color: lightgray;
    
  }

.hero {
    font-family: 'Concert One', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
    max-height: 350px;
    min-height: 200px;
    width: 75%;
    background-image: url(images/cbus-skyline.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    transition: .3s;
}

.hero:hover {
    scale: 1.125;
    transition: .3s;
    border-radius: 10px;

}

.middle:hover {
    scale: 1.125;
    transition: .3s;
    border-radius: 10px;
}
    
.bottom:hover {
    scale: 1.125;
    transition: .3s;
    border-radius: 10px;
}

h1 {
    width: fit-content;
    font-size: 3vh;
    margin-bottom: 15px;
    margin-top: 40px;
}

h2 {
    text-align: center;
    width: 60%;
    font-size: 2vh;   
}

h1, h2 {
    border: 1pt solid #293241;
    padding:  3px 20px 3px 20px;
    border-radius: 10px;
    background-color:#3d5a80;
    color: whitesmoke;
}

/* This is the end of the HERO and start of the MIDDLE */

.middle {
    width: 75%;
    height: 40%;
    background-color:#e0fbfc;


}

h3 {
    font-family: 'Concert One', cursive;
    color: #ee6c4d;
    font-size: 2.375vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 15%;


}


h4 {
    margin: 10px 0 0 0;
    color: #293241;
}

#thumbs {
    width: 3vh;
}

#interests {
    display: flex;
    justify-content: space-around;
    height: 87.5%;
    margin-top: 0px;
}

#interests:hover .test-1 {
    color: #293241;
    background-color: #e0fbfc;
    background-image: none;
    transition: 2s;
    border: 2px solid #ee6c4d;
    border-radius: 5px;
    transform: translate(-25px, -30px) scale(1.125);
    transition: all .5s;
    padding: 5px;
}


#interests:hover .test-2{
    color: #293241;
    background-color: #e0fbfc;
    background-image: none;
    transition: 1.5s;
    border: 2px solid #ee6c4d;
    border-radius: 5px;
    transform: translate(0px, -10px) scale(1.125);
    transition: all .5s;
    padding: 5px;
 }

 #interests:hover #food{
    color: #293241;
    background-color: transparent;
    background-image: none;
    transition: 1.5s;
    border-radius: 5px;
    transform: translate(-25px, -40px) scale(1.125);
    transition: all .5s;
    padding: 5px;
 }

 #interests:hover #music{
    color: #293241;
    background-color: transparent;
    background-image: none;
    transition: 1.5s;
    border-radius: 5px;
    transform: translate(0, -20px) scale(1.125);
    transition: all .5s;
    padding: 5px;
 }
 #interests:hover #sports{
    color: #293241;
    background-color: transparent;
    background-image: none;
    transition: 1.5s;
    border-radius: 5px;
    transform: translate(25px, 0px) scale(1.125);
    transition: all .5s;
    padding: 5px;
 }
#interests:hover .test-3 {
    color: #293241;
    background-color: #e0fbfc;
    background-image: none;
    transition: 1s;
    border: 2px solid #ee6c4d;
    border-radius: 5px;
    transform: translate(25px, 15px) scale(1.125);
    transition: all .5s;
    padding: 5px;
 }

#sports, #music, #food {
    transition: all .5s ease-out;

}
.test-1 {
    background-image: url(images/guy-fieiri-flame.webp);

}
 
.test-2 {
    background-image:url(images/top-min.webp);
}

.test-3 {
    background-image: url(images/Big-Nut.webp);
}


.test-1, .test-2, .test-3 {
    width: 100%;
    color: transparent;
    margin: 0 0 0 0;
    background-size: cover;
    height: 75%;
    border-radius: 15px;
    margin-bottom: 25px;
    transition: all .5s;
    border: 2px solid #3d5a80;

}
#foodie-wpr, #fanatic-wpr, #junkie-wpr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Concert One', cursive;
    font-size: x-large;
    width: 30%;
    height: 70%;
    margin-top: 0px;


}

#arrow {
    font-size: 5vh;
    margin-top: 0px;
    margin-bottom: 0;
    height: 25px;

}

#covered {
    margin: 0;
}

.hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px 0px 0px;
    font-size:medium;
    font-weight: bolder;
    padding: 0;

}

.guy-div {
    width: 100%;
    height: 49%;
    background-size: 300px;
    background-repeat: no-repeat;
    margin-top: 18px;
    z-index: 2;
    border-radius: 15px;
}



#span-h {

    height: 100%;
    font-size: 1.5vh;
    margin-top:0px;
}

.link {
    color: transparent;
}

#interests:hover .link {
    color: #3d5a80;
    text-underline-position: below;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 40%;
    background-color: whitesmoke;
}

#jared {
    border-radius: 17.5px;
    height: auto;
    width: 55%;
    margin-right: 15px;
    padding: 12.5px 0 0 5px;
    opacity: 0.001;
}

#gif:hover #jared {
    opacity: 1;
}

.bottom-wpr {
    height: 80%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 1.5px solid #293241;
    border-bottom: 7.5px solid #3d5a80;
    min-width: 660px ;
}
#gif {
    text-align: center;
    background-image: url(images/Jared2.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    width: 35%;
    height: 65%;
    border-radius: 30px;
}

h7, h8 {
    font-family: 'Concert One', cursive;
} 

h7 {
    font-size: x-large;
    margin-bottom: 7.5px;
}

h8 {
    font-size: x-large;
    margin-top:0px;
}

.bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
    height: 95%;
    margin-left: 7.5px;

}

.bio-p {
    width: 100%;
    height: 55%;
    margin-bottom: 0;
    margin-top: 0;
    font-style: italic;
    font-size: 1.375vh;
    padding-bottom: 0;
    min-width: 256px;

}

/* navy - 3d5a80
light blue - 98c1d9
Lighter Blue - e0fbfc
Orange - ee6c4d
dark navy - 293241 */
